@fff50: #8c8c8c;
@fff30: #4d4d4d;
@fff70: #b3b3b3;
@2087FF30: #004799;

.joinContainer{
  .joinBox{
    position: relative;
    padding: 100px 0;
    width: 100%;
    height: calc(100vh - 182px);
    background: #000524;
    overflow: auto;
    .cardBox{
      width: 400px;
      margin: 0 auto;
      padding: 56px 60px 80px 60px;
      background: #0F1739;
      border-radius: 6px;
      border: 1px solid rgba(32,135,255,0.3000);
      text-align: center;
      .title{
        margin-bottom: 35px;
        font-size: 24px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 33px;
      }
      .cardContent{
        position: relative;
        padding: 40px 28px;
        border-radius: 6px;
        .contentBg{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, #2087FF 0%, #0862CB 100%);
          border-radius: 6px;
          opacity: 0.4;
        }
        .relativeBox{
          position: relative;
          z-index: 2;
        }
        .logo{
          margin: 0 auto 21px auto;
          width: 90px;
          height: 90px;
          background-image: url('../../../assets/images/join.png');
          background-repeat: no-repeat;
          background-size: 100%;
        }
        .joinTitle{
          margin-bottom: 8px;
          font-size: 20px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #FFFFFF;
          line-height: 28px;
        }
        .text1{
          margin-bottom: 2px;
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          line-height: 20px;
          color: @fff70;
        }
        .text2{
          margin-bottom: 21px;
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          line-height: 20px;
          color: @fff70;
        }
        .btn{
          padding: 13px 62px 12px 62px;
          background: #2087FF;
          border-radius: 6px;
          font-size: 18px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #FFFFFF;
          line-height: 25px;
          cursor: pointer;
          &:hover{
            background: #449bff;
          }
        }
      }
    }
    .stepBox{
      margin: 20px auto 0 auto;
      width: 1200px;
      background: #050B2C;
      border-radius: 6px;
      color: #fff;
      border: 1px solid rgba(40,143,255,0.2000);
      .header{
        padding: 27px 256px 15px 256px;
        background: rgb(26, 33, 74, 0.2);
      }
      .stepsContent{
        padding: 0 160px 40px 160px;
        .phoneNumber{
          margin-bottom: 6px;
          padding: 16px 0 2px 0;
          font-size: 16px;
          font-family: HelveticaNeue;
          color: #FFFFFF;
          line-height: 18px;
          color: #fff;
        }
        .bottomTips{
          color: @fff30;
        }
        .submitBtn{
          width: fit-content;
          margin-top: 80px;
          padding: 13px 183px 12px 183px;
          font-size: 18px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #FFFFFF;
          line-height: 25px;
          background: #2087FF;
          border-radius: 6px;
          text-align: center;
          cursor: pointer;
          &:hover{
            background: #031e97 !important;
          }
        }
        .dateType{
          display: flex;
          align-items: center;
        }
        .agreementContent{
          padding: 0 115px;
          .btnBox{
            display: flex;
            margin-top: 80px;
          }
        }
        .preBtn{
          display: inline-block;
          margin-right: 20px;
          padding: 13px 73px 12px 73px;
          border-radius: 6px;
          border: 1px solid #2087FF;
          font-size: 18px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #2087FF;
          line-height: 25px;
          cursor: pointer;
          &:hover{
            background-color: #004799;
          }
        }
        .nextBtn{
          display: inline-block;
          padding: 13px 73px 12px 73px;
          background: #2087FF;
          border-radius: 6px;
          font-size: 18px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #FFFFFF;
          line-height: 25px;
          cursor: pointer;
          &:hover{
            background-color: #0064d6;
          }
        }
      }
    }
  }
}